body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(22, 22, 22, 0.5), rgba(22, 22, 22, 0.774)), url('../img/classroom.png') no-repeat center center fixed;
    background-size: cover;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    color: white;
}

.login-box h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 25px;
    background-color: #f0f0f0;
    color: black;
}

.login-box input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: none;
    border-radius: 25px;
    background-color: #2f8bfc;
    color: white;
    font-size: 16px;
}

.login-box input[type="submit"]:hover {
    background-color: #1d6fd8;
}
